/*Style for Button*/
button:hover{
    cursor:pointer;
}

/*General Formatting*/
html{
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

main{
    text-align: center;
    width:auto;
    height:auto;
}