/*Style for Button*/
button:hover{
    cursor:pointer;
    color:#fff;
}

button{
    background-color:#888;
    border:none;
    border-radius:25px;
    padding:5px;
}

/*General Formatting*/
html{
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
    margin:0;
    padding:0;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

main{
    text-align: center;
    width:auto;
    height:auto;
}


.output-container{
    font-size:15px;
    text-align:center;
    margin:30px 0;
}

.definition{
    text-align:justify center;
    margin:0 10%
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
